<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>257707946117-dmvki6i2c7r4176hg0goos5pk9cpc5fr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.257707946117-dmvki6i2c7r4176hg0goos5pk9cpc5fr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>257707946117-ssnc82ngkra6gsekva6rsvue64gu5ph8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAgSWJamAiMh6LlMeAPMD_PbCzO7fwT990</string>
	<key>GCM_SENDER_ID</key>
	<string>257707946117</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.steuermachen.steuermachen</string>
	<key>PROJECT_ID</key>
	<string>steuermachen</string>
	<key>STORAGE_BUCKET</key>
	<string>steuermachen.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:257707946117:ios:74adf1a4dfe511fd8839ec</string>
</dict>
</plist>